.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  row-gap: 20px;
  column-gap: 20px;

  @media (min-width: 767px) {
    justify-content: left;
  }
}

.socialIcon {
  svg {
    fill: var(--social-media-color);
  }

  &:hover {
    svg {
      fill: var(--color-green);
      transition: all 0.3s linear 0s;
    }
  }

  @media (min-width: 767px) {
    justify-content: left;
  }
}
