@import url('https://fonts.googleapis.com/css?family=Cabin:400,600,700&display=swap');

:root {
  --color-green: #78be21;
  --color-gray: #b3b3b3;
  --color-gray-light: #ebebeb;
  --color-gray-silver: #a5a5a5;
  --color-gray-dark: #3e3e40;
}

body {
  width: 100%;
  min-width: 320px;
  font-family: 'Cabin', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background: white;
  color: var(--color-gray-dark);
}

a {
  color: var(--color-green);
  font-weight: 600;

  &:hover,
  &.active {
    color: var(--color-gray-dark);
    text-decoration: none;
  }
}

p {
  margin: 1.5rem 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
}

.btn {
  min-width: 230px;
  padding: 15px;
  font-size: 18px;
}

.btn-light {
  background-color: white;
  border-color: white;
  color: var(--color-green);

  &:hover,
  &:focus,
  &:active,
  &.active,
  &.focus,
  &active:focus,
  &:active:focus {
    background-color: var(--color-green);
    border-color: var(--color-green);
    color: white;
  }
}

.btn-outline-light {
  background-color: transparent;
  border-color: white;
  color: white;

  &:hover,
  &:focus,
  &:active,
  &.active,
  &.focus,
  &active:focus,
  &:active:focus {
    background-color: white;
    border-color: white;
    color: var(--color-green);
  }
}

.btn-primary {
  background-color: var(--color-green);
  border-color: var(--color-green);
  color: white;

  &:hover,
  &:focus,
  &:active,
  &.active,
  &.focus,
  &active:focus,
  &:active:focus {
    background-color: var(--color-gray-dark);
    border-color: var(--color-gray-dark);
    color: white;
  }
}

.btn-link {
  color: var(--color-green);

  &:hover,
  &:focus,
  &:active,
  &.active,
  &.focus,
  &active:focus,
  &:active:focus {
    color: var(--color-green);
  }
}

section {
  position: relative;
}
